<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear />
    <add name="EPiServerDB" connectionString="Data Source=AWSPRDSQL01.CORP.SHOPMURDOCHS.COM;Failover Partner=AWSPRDSQL02.CORP.SHOPMURDOCHS.COM;Initial Catalog=MurdochsCMS;Integrated Security=False;User ID=MurdochsCMS;Password=iy7a4nxgU1afrGMcyRDb;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="EPiServerCommon" connectionString="Data Source=AWSPRDSQL01.CORP.SHOPMURDOCHS.COM;Failover Partner=AWSPRDSQL02.CORP.SHOPMURDOCHS.COM;Initial Catalog=MurdochsCMS;Integrated Security=False;User ID=MurdochsCMS;Password=iy7a4nxgU1afrGMcyRDb;MultipleActiveResultSets=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="EcfSqlConnectionLive" connectionString="Data Source=AWSPRDSQL01.CORP.SHOPMURDOCHS.COM;Failover Partner=AWSPRDSQL02.CORP.SHOPMURDOCHS.COM;Initial Catalog=MurdochsCommerce;Integrated Security=False;User ID=MurdochsCommerce;Password=tuqYf5nfoONDPHOXWD3G;Connect Timeout=30;Application Name=MurdochsCommerce" />
    <add name="EcfSqlConnection" connectionString="Data Source=vs5;Initial Catalog=MurdochsCommerce;Integrated Security=False;User ID=Murdochs-Commerce;Password=zyvHKSmjCEJFqabsZ5pC;Connect Timeout=30;Application Name=MurdochsCommerce" />
    <add name="NLogSqlConnection" connectionString="Data Source=AWSPRDSQL01.CORP.SHOPMURDOCHS.COM;Failover Partner=AWSPRDSQL02.CORP.SHOPMURDOCHS.COM;Initial Catalog=MurdochsCommerce;Integrated Security=False;User ID=MurdochsCommerce;Password=tuqYf5nfoONDPHOXWD3G;Connect Timeout=30;Application Name=MurdochsCommerce" providerName="System.Data.SqlClient" />
    <add name="MurdochsContext" connectionString="metadata=res://*/Murdochs.Model.csdl|res://*/Murdochs.Model.ssdl|res://*/Murdochs.Model.msl;provider=System.Data.SqlClient;provider connection string='Connect Timeout=30;data source=AWSPRDSQL01.CORP.SHOPMURDOCHS.COM;Failover Partner=AWSPRDSQL02.CORP.SHOPMURDOCHS.COM;initial catalog=MurdochsCommerce;persist security info=True;user id=MurdochsCommerce;password=tuqYf5nfoONDPHOXWD3G;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ActiveDirectoryProviderConnection" connectionString="LDAP://corp.shopmurdochs.com/DC=corp,DC=shopmurdochs,DC=com" />
  </connectionStrings>
  
</configuration>